body{
    padding: 20px;
}

.main{
    width: 550px;
}
#font1{
    font-size: 16px;
    font-weight: bold;
    color:cornflowerblue;

}

#todo-new{
    width: 550px;
}
#todo-list{
    color:red;
    list-style-type: none
}

#btn1{
    position: absolute;
    left: 500px;
    width: 60px;
    background-color:white;
    border:1px solid #a1a1a1;
    border-radius:10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#btn1:hover {
    background-color: #4CAF50;
    color: white;
}

#btn2{
    position: absolute;
    left: 440px;
    width: 60px;
    background-color:white;
    border:1px solid #a1a1a1;
    border-radius:10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#btn2:hover {
    background-color: #4CAF50;
    color: white;
}